* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Times New Roman', Times, serif
}


.navbar {
    position: fixed;
    top: 0;
    z-index: 999;
    width: 100%;

}

.navbar-collapse a:hover {
    text-decoration: underline;
    text-underline-offset: 8px;
}

.photos1{
    display: flex;
    width: 400px;
    height: 400px;
    gap: 50px;
    margin-top: 200px;
    margin-left: 70px;
}

.text1{
    margin-top: 30px;
    position: relative;
  display: flex;
  margin-left:70px;
  gap: 175px;
  height: 100px;
  width: 1200px;
}

.yazilar3{
    margin-left: 18px;
}

.photos2{
       position: relative;
        display: flex;
        width: 400px;
        height: 400px;
        gap: 50px;
        margin-top: 80px;
        margin-left: 70px;

}

.text2{
    margin-top: 30px;
    position: relative;
  display: flex;
  margin-left:70px;
  gap: 200px;
  height: 100px;
  width: 1200px;
}

.footer{
    width: 100%;
    padding-block: 80px;
    background-color: rgb(31, 30, 30);
 }


 .sehve5 {
     display: flex;
     gap: 30px;
     align-items: center;
 }

 .page5 {
     display: flex;
     gap: 100px;
     height: 100px;
 }

 .icons{
 display: flex;
 gap: 30px;
 margin-top: 30px;
 width: 100px;
 color: white;
}
 .submit5 {
     margin-top: 100px;
    height: 200px;
    font-size: 20px;
    margin-left:30px;  
 }
